<template>
    <div>
        <div :class="['app-overlay', overlay ? 'is-active' : '']"></div>
        <app-header />
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'App',
    data() {
        return {
            overlay: false,
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        init() {
            if (user.loggedIn()) {
                this.$store.commit('setUserAuth', true);
                this.$store.dispatch('getAuthentiactedUser');
                this.$store.dispatch('getMostSearchRecipes');
            }
        },
        slugify(text) {
            return text
            .toLowerCase()
            .replace(/[^\w ]+/g,'')
            .replace(/ +/g,'-');
        }
    }
}
</script>
