<template>
<div>
    <Search />
    <section
    class="section view-wrapper">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="heading">Recipes you may interestd in</h2>
                </div>
            </div>

            <div class="columns is-multiline is-mobile">
                <div
                class="column is-4"
                v-for="item in recipes"
                :key="item.id">
                    <FoodItem :recipeId="item.slug" :item="item.data" />
                </div>
            </div>
        </div>

    </section>
</div>
</template>

<script>
import Search from '../components/Search';
import FoodItem from '../components/FoodItem';

export default {
    name: "Home",
    components: {
        Search,
        FoodItem,
    },
    data() {
        return {}
    },
    computed: {
        recipes: function() {
            return this.$store.state.recipes;
        }
    },
    methods: {
        slugify(text) {
            return text
                .toLowerCase()
                .replace(/[^\w ]+/g,'')
                .replace(/ +/g,'-');
        },
    }
}
</script>

<style lang="scss" scoped>
.section {
    background: rgba($color: #000000, $alpha: 0.08);

    .heading {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: capitalize;
    }
}
</style>
