<template>
    <section class="section view-wrapper">
        <div class="columns">
            <div class="column __is-three-fifths __is-offset-one-fifth">

                <div v-if="recipe" class="recipe">

                    <div class="recipe-top">
                        <img :src="recipe.image" :alt="recipe.label">

                        <div class="recipe-top__basic-info">
                            <h2 class="title">{{ recipe.label }}</h2>
                            <a :href="recipe.url" target="_blank">See Full Recipe on <span>{{ recipe.source }}</span></a>
                            <a :href="recipe.shareAs" target="_blank">See Full Detail on <span>Edamam</span></a>

                            <h3 class="sub-title">Health Labels</h3>

                            <ul class="w50">
                                <li
                                v-for="item in recipe.healthLabels"
                                :key="item.id">{{ item }}</li>
                            </ul>
                        </div>
                    </div>

                    <div v-if="youtubeVideos" class="columns is-multiline recipe-youtube">
                        <div class="column is-12">
                            <h4 class="recipe-sub-title">Recipe Videos from Youtube</h4>
                        </div>

                        <div
                        class="column is-4"
                        v-for="video in youtubeVideos"
                        :key="video.etag">
                            <iframe
                            height="300"
                            :src="'http://www.youtube.com/embed/' + video.id.videoId"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen />
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <h4 class="recipe-sub-title">{{ recipe.ingredients.length }} Ingredients</h4>
                            <ul>
                                <li
                                v-for="(item, index) in recipe.ingredients"
                                :key="item.id"
                                class="recipe-list">
                                    <span :class="['text', index >= 5 ? 'recipe-list__hidden' : '']">{{ item.text }}</span>
                                    <span :class="['weight', index >= 5] ? 'recipe-list__hidden' : ''">{{ toFixed(item.weight) + ' g' }}</span>

                                    <!-- <div v-if="index === 5" class="recipe-list__button">
                                        <button class="button">{{ ingredientButton }}</button>
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                        <div class="column">
                            <h4 class="recipe-sub-title">{{ objectArray(recipe.totalNutrients).length }} Nutrition</h4>

                            <ul>
                                <li
                                class="recipe-list"
                                v-for="(item, index) in objectArray(recipe.totalNutrients)"
                                :key="item.id">
                                    <span :class="['text', index >= 5 ? 'recipe-list__hidden' : '']">{{ item[1].label }}</span>
                                    <span :class="['weight', index >= 5 ? 'recipe-list__hidden' : '']">{{ toFixed(item[1].quantity) + item[1].unit }}</span>

                                    <!-- <div v-if="index === 5" class="recipe-list__button">
                                        <button class="button">{{ ingredientButton }}</button>
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'RecipeDetail',
    data() {
        return {
            recipe: false,
            youtubeVideos: false,
            recipeId: this.$route.params.recipeId,
            ingredientButton: 'Show More',
            nutritionButton: 'Show More'
        }
    },
    mounted() {
        axios.get(`/recipe/${this.recipeId}`)
        .then(res => {
            this.recipe = res.data.data;

            axios.get(`/youtube/${this.recipe.label}`)
            .then(res => this.youtubeVideos = res.data.items);
        });
    },
    // computed: {
    //     recipe: function() {
    //         return this.$store.state.recipes.find(item => item.slug === this.recipeId).data;
    //     }
    // },
    methods: {
        toFixed(num) {
            return num.toFixed(2);
        },
        objectArray(obj) {
            return Object.entries(obj)
        }
    }
}
</script>

<style lang="scss" scoped>
.recipe {
    margin-top: 50px;
    background: #fff;
    padding: 20px;

    &-top {
        display: flex;
        padding: 1.2rem;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.28);
        margin-bottom: 2rem;
        
        img {
            display: inline-block;
            box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.28);
            border-radius: 10px;
            border: 5px solid #fff;
            margin-right: 1.3rem;
        }

        &__basic-info {
            display: inline-block;
            flex: 1;

            a {
                display: block;
                color: rgba($color: #000000, $alpha: 1.0);

                span {
                    text-decoration: underline;
                }
            }

            .sub-title {
                font-size: 1.1rem;
                margin-top: 1rem;
                font-weight: bold;
            }

            ul.w50 {
                margin-top: 0.8rem;
                li {
                    width: 50%;
                    float: left;
                    line-height: 1.8rem;
                }
            }
        }

    }

    &-list {
        display: flex;
        border-bottom: 1px solid rgba(#000000, 0.28);
        padding: 10px 0;

        .text {
            flex: 1;
        }

        .weight {
            margin-left: 20px;
            max-width: 100px;
            flex: 1;
        }
    }

    &-sub-title {
        font-size: 1.3rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
        color: rgba($color: #000000, $alpha: 1.0);
        margin-bottom: 1rem;
    }

    &-youtube {
        iframe {
            width: 100%;
        }
    }
}
</style>
