<template>
    <a
    :href='"/item/" + recipeId'
    class="food">
        <div class="image-box has-text-centered">
            <img :src="item.image" alt="Image">
        </div>
        <div class="food-item">
            <h1>{{ item.label }}</h1>

            <div class="food-item__detail">
                <span>{{ parseInt(item.calories) }} Cal.</span>
                <span>{{ item.ingredients.length }} Ingr.</span>
            </div>
        </div>
    </a>
</template>

<script>
export default {
    name: "FoodItem",
    props: {
        item: {
            type: Object,
            required: true
        },
        recipeId: {
            type: String,
            required: true
        }
    },
    methods: {
        parseInt(num) {
            return parseInt(num);
        }
    }
}
</script>

<style lang="scss" scoped>
.food {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    background: #fff;

    &-item {
        h1 {
            color: #000;
            height: 48px;
            max-height: 48px;
        }

        &__detail {
            display: flex;
            margin-top: 10px;
            padding: 8px 0;
            text-align: center;
            border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

            span {
                flex: 1;
                font-size: 0.8rem;
                color: rgba($color: #000000, $alpha: 0.65);
                text-transform: uppercase;

                &:first-child {
                    border-right: 1px solid rgba($color: #000000, $alpha: 0.3);
                }
            }
        }
    }
}
</style>
