<template>
    <section class="search view-wrapper">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="search">
                        <h1 class="title">Looking for a Recipe?</h1>
                        <h4 class="subtitle">Search your favourite Recipe which you like to cook &amp; enjoy your meal.</h4>
                        <div class="field has-addons">
                            <div class="control">
                                <input
                                class="input" type="text"
                                v-model="search"
                                placeholder="Search Recipe which you like">
                            </div>
                            <div class="control">
                                <button class="button is-info" @click="searchItem">Search</button>
                            </div>
                        </div>

                        <div
                        v-if="error"
                        class="notification is-danger">{{ error }}</div>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline is-mobile">
                <div v-if="isLoading" class="column search-loading">
                    Loading...
                    <a class="button is-loading">loading icon</a>
                </div>
                <div
                class="column is-one-fifth"
                v-for="item in result"
                :key="item.id">
                    <FoodItem :recipeId="item.slug" :item="item.data" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import FoodItem from './FoodItem';

export default {
    name: "Search",
    components: {
        FoodItem,
    },
    data() {
        return {
            search: '',
            error: '',
            isLoading: false,
            result: null
        }
    },
    methods: {
        searchItem() {
            this.error = null;

            if (!this.search) {
                this.error = 'Please type somthing to search...';
            } else {
                
                this.isLoading = true;
                axios.get(`/search/${this.search}`)
                .then(res => {
                    this.result = res.data.data;
                    this.$store.commit('updateRecipes', res.data.data);
                    this.isLoading = false;
                });
                this.search = '';
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.search {
    background: #fff;
    margin-top: 30px;

    .input {
        height: 38px;
        width: 450px;
    }

    &-loading {
        line-height: 2rem;

        .button {
            padding: 0;
            border: none;
        }
    }
}
</style>
